.bar
  height: x(5)
  display: block
  position: fixed
  z-index: 9999
  width: 100%
  width: 100vw
  max-width: 100vw
  pointer-events: none
  overflow: hidden

  > div
    background-color: $blue
    height: 100%
    width: 0